* {
    color: #999999;
    font-family: 'Roboto', sans-serif;
}

html {
    height: 100vh;
  }

body {
    background-color: #fefefe;
    height: calc(100vh - 16px);
}

button {
    background-color: #006fca;
    height: 25px;
    border: 0px;
    border-radius: 3px;
    font-size: 87%;
    font-weight: 700;
}

button:hover {
    cursor: pointer;
}

button, 
button:active, 
button:focus {
    outline: none;
}

button:active {
    background-color: #005ba6;
}

input {
    padding: 5px;
}

li {
    list-style-type: none;
}

p {
    color: black;
}

td p {
    color: black;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
}

table { 
    width: 100%;
    border-collapse: collapse;
    font-size: 70%;
    height: 99%;
}

td {
    max-width: 10px;
    max-height: 20%;
    padding: 5px;
    border: 1px solid #ebebeb;
    vertical-align: top;
}

td:hover {
    background-color: #f4f4f4;
}

tr { 
    padding: 5px;
    height: 80px;
}

.active-add {
    background-color: #e5f1f9;
    border: 2px solid #86c9fd;
}

.create-element-form, 
.create-element-short-form, 
.edit-element-form {
    height: auto;
    width: 300px;
    background-color: #f4f4f4;
    display: flex;
    flex-direction: column;
    padding: 0 20px;
    box-shadow: 0px 0px 7px 2px rgba(128,128,128,0.6);
    position: absolute;
    z-index: 1;
}

.create-element-short-form { 
    height: auto;
}

.create-element-form:after, 
.create-element-form:before, 
.edit-element-form:after, 
.edit-element-form:before  {
    content: '';
    position: absolute; 
    left: 4px; 
    top: 30px;
    background: #f4f4f4;
    margin-left: -11px;
    width: 16px;
    height: 16px;
    box-shadow: -4px 4px 7px -3px rgba(0, 0, 0, 0.3);
    z-index: -1;  
    transform: rotate(45deg);
}

.create-element-short-form:after, 
.create-element-short-form:before {
    content: '';
    position: absolute; 
    left: 40px; 
    top: -8px;
    background: #f4f4f4;
    margin-left: -11px;
    width: 16px;
    height: 16px;
    box-shadow: 0px 0px 2px -2px rgba(0, 0, 0, 0.3);
    z-index: 0;  
    transform: rotate(45deg);
}

.create-element-form * ,
.create-element-short-form * ,
.edit-element-form * {
    display: block;
    width: auto;
    margin: 6px 0;
}

.create-element-form > input,
.create-element-short-form > input,
.short-form-submit-wrapper > input,
.edit-element-form > input {
    height: 25px;
    border-radius: 5px;
    color: black;
}

.create-element-form > textarea,
.short-form-submit-wrapper > textarea {
    border-radius: 5px;
}

.short-form-submit-wrapper > input {
    background-color: #ececec;
    width: 35%;
}

.create-submit-wrapper, 
.edit-submit-wrapper {
    display: inline-flex;  
    width: 126px; 
    color: black;
}

.create-submit-wrapper > input, 
.edit-submit-wrapper > input {
    display: inline-block;  
    width: 50%; 
    color: black;
    border-radius: 5px;
    background-color: #ececec;
}

.create-submit-wrapper > input:active, 
.edit-submit-wrapper > input:active {
    background-color: #c1e4ff;
}

.date-mover * {
    display: inline-block;
}

.date-mover > p {
    font-weight: 700;
    margin: 0;
    min-width: 115px;
    text-align: center;
}

.date-mover-button { 
    height: 25px;
    width: 25px;
    background-color: #fff;
    border-style: solid;
    border-color: rgb(209, 209, 209);
    border-width: 1px;
}

.event-added {
    background-color: #c2e4fe;
}

.event-edit > button {
    text-shadow: 0 2px 2px #003561;
    border-radius: 4px;
    color: #f4f4f4;
    height: 32px;
    min-width: 96px;
}

.found-tasks-list-wrapper {
    position: absolute;
    width: 250px;
    padding: 5px;
    background-color: #ffffff;
    color: #666666;
    box-sizing: content-box;
    box-shadow: 0px 0px 7px 2px rgba(128,128,128,0.6);
    z-index: 0;
}

.found-tasks-list-wrapper:after, 
.found-tasks-list-wrapper:before {
    content: '';
    position: absolute; 
    left: 40px; 
    top: -8px;
    background: #ffffff;
    margin-left: -11px;
    width: 16px;
    height: 16px;
    box-shadow: 0px 0px 2px -2px rgba(0, 0, 0, 0.3);
    z-index: -1;  
    transform: rotate(45deg);
}

.found-tasks-list {
    max-height: 35vh;
    overflow-y: scroll;
    padding-right: 7px;
}

.found-tasks-list::-webkit-scrollbar {
    width: 8px;
}

.found-tasks-list::-webkit-scrollbar-thumb {
    background-color: #666666;
    border-radius: 4px;
    height: 30px;
}

.found-tasks-list div {
    border-bottom: thin solid #666666;
    padding: 5px;
    margin: 5px;
    margin:0px auto;
    width: 97%;
    height: 50px;
    background-color:white;
    float: left;
    position: relative;
    z-index: 10;
}

/*.found-tasks-list div:hover {
    background-color: #005ba6;
}*/

.found-tasks-list div:hover:after {
    background-color: #27a1ff;
    color: #ffffff;
    content: '';
    display: block;
    position: absolute;
    top: 5px;
    left: 0px;
    right: 0px;
    bottom: 5px;
    z-index: -1;
}

.found-tasks-list div p {
    margin: 5px;
}

.found-tasks-list div .p-task {
    font-weight: 700;
}

.found-tasks-list div .p-date {
    font-size: 75%;
}

.found-tasks-list div:hover p {
    color: #ffffff;
}

.found-tasks-list :last-child {
    border: none;
}

.header {
    display: flex;
    justify-content: center;
    box-sizing: content-box;
    padding: 40px 0px 20px;
    background-color:#f4f4f4;
    box-shadow: 0 8px 4px -4px rgba(209, 209, 209, .8);
}

.header > div {
    width: 90%;
    display: flex;
    justify-content: space-between;
}

.hidden {
    display: none;
}

.main {
    display: flex;
    justify-content: center;
    height: 75%;
}

.main > div {
    width: 90%;
    height: 100%;
    overflow: auto;
}

.nav {
    display: flex;
    justify-content: center;
}

.nav > div {
    width: 90%;
    margin: 10px;
}

.tdTaskHeader {
    font-weight: 600;
    color: black;
}

.today-button { 
    background-color: #fff;
    border-style: solid;
    border-color: rgb(209, 209, 209);
    border-width: 1px;
    color: #666666;
}

.today-button:active,
.date-mover-button:active { 
    background-color: #f4f4f4;
}

.today-date {
    color: #3d3d3d;
    font-weight: bolder;
    background-color: #f4f4f4;
    border: 2px solid #e7e7e7;
}

.search-panel-wrapper {
    display: flex;
    align-items: center;
}

.search-panel-wrapper > img {
    margin-right: 15px;
    height: 20px;
    width: 20px;
}

.search-panel-wrapper > img:hover {
    margin-right: 10px;
    height: 30px;
    width: 30px;
}

.search-panel {
    background-color: #fefefe;
    min-width: 250px;
    height: 18px;
    border-radius: 4px;
    font-size: 100%
}

.close-button-wrapper {
    /*display: flex;
    align-items: right;*/
    margin: 0px -16px 0px 0px;
}

.close-button {
    background-color: #f4f4f4;
    width: 10%;
    float: right;
}

/*.create-element-short-form > .close-button-wrapper {
    width: 100%;
}

.create-element-short-form > .close-button-wrapper > .close-button:last-child {
    background-color: #f4f4f4;
}*/

.close-button:active {
    background-color: #f4f4f4;
}

.close-button > img {
    width: 15px;
    height: 15px;
    display: block;
    margin: 0 auto;
}